{% extends "base.html" %}

<body>
    {%block main%}
    {% include 'flash_messages.html' %}
    <h1>Secure Page</h1>
    <p>Hi! you are on a very secure page. I wonder how you get here.
        haha. its cool i already know. YOU LOGGED IN! hahahahahahahahahahha
        ihateschool and this is probably fun but sometimes school is okay.
        Word to the wise.. if you wanna take that gap year do it... and my final
        words to you are, If you wanna go to college.... DONT.
        its all a trap.
    </p>
    <p>xoxo- gossip girl</p>
    {%endblock%}
</body>
</html>